
@{
    ViewData["Title"] = "Index";
}
@model List<Crowdfund.Core.Model.User>

<h2 class="display-4">Users</h2>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Has Projects</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <th scope="row"><button class="btn" onclick="virtualLogin(@u.UserId)">@u.UserId</button></th>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.Email</td>
                <td>@u.IsProjectCreator</td>
                <td><a class="btn btn-dark" href="@Url.Action("Details", "User", new {id = u.UserId })"><i class="fa fa-address-card-o"></i> Details</a></td>
            </tr>
        }
    </tbody>
</table>
<h5>Total Customers: @Model.Count()</h5>

