<h2 class="display-4">Projects</h2>
@{int i = 3;}
@foreach (var project in Model)
{
    @if (i % 3 == 0)
    {
        @:<div class="row row-cols-1 row-cols-md-3">
        }
    <div class="col mb-4">
        <div class="card h-100">
            <img src="@project.Media[0].MediaUrl" class="card-img-top" alt="oops">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">@project.Title</h5>
                <p class="card-text">
                    @(!String.IsNullOrWhiteSpace(project.Description) && project.Description.Length >= 100
                    ? project.Description.Substring(0, 100) + " ..."
                    : project.Description)
                </p>

                <a href="@Url.Action("Details", "Project", new { id = project.ProjectId })" class="btn btn-primary" style="margin-top: auto; margin-right: auto;">Go to project</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Project by @project.User.FirstName @project.User.LastName</small>
            </div>
        </div>
    </div>
    @if (i % 3 == 2)
    {
    @:</div>
}
    i++;
}
